<header class="site-header">
  <h1>{{judul}}</h1>
  <nav class="site-nav">
    <a href="/">Home</a>
    <a href="/tentang">Tentang</a>
    <a href="/bantuan">Bantuan</a>
    <a href="/berita">Berita</a>
  </nav>
</header>